html, body {
    border: 0;
    margin: 0;
}

body {
    background: url("./assets/gradient-violet-bg.jpg");
}

.logo-img {
    float: left;
}

.navMenu {
    display: flex;
    justify-content: space-between;
    background: transparent;
    margin: 0;
    width: 100vw; 
}

.navLinks {
    display: flex;
    list-style-type: none;
}

.navLink {
    padding: 0px 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navLink:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.Image { 
    display: flex;
    justify-content: center;
    margin: 80px 0px 30px;
}

.Header {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    }

.Paragraph {
    /* max-width: 400px; */
    margin: auto;
    width: 60%;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
}

.openKast {
    font: 18px 'Roboto', sans-serif;
    background: #FE9000;
    margin: auto;
    width: 200px;
    /* height: 46px; */
    padding: 10px 15px;
    text-align: center;
    letter-spacing: .15rem;
    font-weight: 800;
    border-radius: 5px;
}

.openKast a{
    color: white;
    text-decoration: none;
    /* padding: 15px 30px; */
}

.Header2 {
    text-align: center;
    color: black;
    font-family: 'Roboto' , sans-serif;
    background: white;
}


.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
    background: white;
    padding: 50px;
}

.grid {
    padding: 5px;
    margin: 0px; 
    font-family: 'Roboto', sans-serif;
    background: white;
    text-align: center;
}

.Paragraph2 {
    margin: auto;
    width: 100%;
    text-align: center;
    color: gray;
    background: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    }